[submodule "third_party/rathena"]
	path = third_party/rathena
	url = https://github.com/rathena/rathena.git
	branch = master
[submodule "third_party/rathenaThailand"]
	path = third_party/rathenaThailand
	url = https://github.com/rAthena-Thailand/rathenaThailand.git
	branch = thai_master
[submodule "third_party/ClientROThailand"]
	path = third_party/ClientROThailand
	url = https://github.com/rAthena-Thailand/ClientROThailand.git
	branch = main
